<h1>Hello world</h1>
<% if current_user %>
  <div align="center">
    <%= button_to boards_path, method: 'get', class: "btn btn-success" do %>
     <span class="bi bi-bookmark-heart">Boards</span>
     <% end %>
     <br>
     <%= button_to cards_path, method: 'get', class: "btn btn-primary" do %>
     <span class="bi bi-credit-card-2-front-fill"> Cards</span>
     <% end %>
  </div>
<% end %>
