<h1>Hello world</h1>
<% if current_user %>
  <div align="center">
    <%= button_to boards_path, method: 'get', class: "btn btn-success" do %>
     <span class="bi bi-bookmark-heart">Boards</span>
     <% end %>
  </div>
<% end %>
