<div class="card text-center border-dark w-75 mx-auto">
  <div class="card-header bg-dark text-white">
    Question
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @card.question %></h5>
    <button class="btn btn-dark" id="showAnswer" onClick='toggleText(this.id)' type="button" data-bs-toggle="collapse" data-bs-target="#collapseAnswer" aria-expanded="true" aria-controls="collapseAnswer">Show answer</button>
  <div class="collapse" id="collapseAnswer">
  <div class="card card-body">
    <%= md_format(@card.answer).html_safe %>
  </div>
  </div>
</div>
</div>
<br />
<%= link_to "Back to all cards", cards_path %><br>
